.skeleton {
  background-color: var(--gray-200);
  background-image: linear-gradient(
    90deg,
    var(--gray-200) 0px,
    var(--gray-100) 40px,
    var(--gray-200) 80px
  );
  background-size: 200% 100%;
  animation: pulse 1.5s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    background-color: var(--gray-800);
    background-image: linear-gradient(
      90deg,
      var(--gray-800) 0px,
      var(--gray-700) 40px,
      var(--gray-800) 80px
    );
  }
}

@keyframes pulse {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
